{
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"importOrderParserPlugins": [
		"importAssertions",
		"typescript",
		"jsx",
		"decorators-legacy"
	],
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"overrides": [
		{
			"files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
			"options": {
				"importOrderSeparation": true,
				"importOrderSortSpecifiers": true,
				"importOrder": [
					"<THIRD_PARTY_MODULES>",
					"^(?!.*\\.scss$)[./]",
					"^(.*).scss$"
				]
			}
		},
		{
			"files": "*.json",
			"options": {
				"trailingComma": "es5",
				"semi": false,
				"singleQuote": true
			}
		},
		{
			"files": "*.yaml",
			"options": {
				"trailingComma": "es5",
				"semi": false,
				"singleQuote": true
			}
		},
		{
			"files": ["*.scss", "*.css"],
			"options": {
				"printWidth": 110
			}
		}
	]
}
