.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 2px 0 #888;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-grow: 1;
}

.lineInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #131313;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.totalInfo {
  color: #131313;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.indicators {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.typeInfo {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.action {
  margin-top: 1rem;
  text-align: right;
}
